// Place all the styles related to the participants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.yet { background: #ff9999; }

h1 {
    margin-bottom:15px;
}

h2 {
    margin-top:15px;
}

table, tr{
    border: 1px #999 solid;
    margin: 15px 5px 15px;
    padding: 5px 10px 5px;
}
td, th {
    margin: 5px;
    padding: 5px 10px 5px;
}

